@media (prefers-color-scheme: dark) {
  #background {
    background-image: linear-gradient(to top, #1b7474 0%, #290753 100%);
  }

  .container {
    border-radius: 35px;
    background: linear-gradient(145deg, #282828, #212121);
    box-shadow: 13px 13px 28px #104747, -13px -13px 28px #290753;
  }

  .side_block {
    border-radius: 35px;
    background: #252525;
    box-shadow: 9px 9px 18px #131313, -9px -9px 18px #373737;
  }

  #inner {
    border-radius: 35px;
    background: #252525;
    box-shadow: 9px 9px 18px #131313, -9px -9px 18px #373737;
  }

  h1,
  #location {
    color: #ffffff;
  }

  #date {
    color: #ffffff;
  }

  #icon {
    box-shadow: 0px 0px 10px #eaeaea3b;
  }

  #temperature {
    color: #ffffff;
  }

  #description {
    color: #ffffff;
  }

  input[type="text"] {
    color: #0a78ff;
  }

  #clock {
    color: #ffffff;
  }

  a {
    color: #ffffff;
  }

  a:visited {
    color: #ffffff;
  }
}
